@import "variables.scss";

.job-post-form {
  display: flex;
  flex-direction: column;
  form {
    max-width: 1170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $--breakpoint-md) {
      max-width: 550px;
    }

    @media only screen and (max-width: $--breakpoint-sm) {
      max-width: 490px;
    }

    span {
      label {
        color: #40484a;
        font-size: 14px;
        margin-bottom: 7px;
        text-transform: capitalize;
      }
    }

    .field-row {
      width: 100%;
      display: flex;
      flex-direction: row;

      @media only screen and (max-width: $--breakpoint-md) {
        flex-direction: column;
      }

      .title-field {
        width: 100%;
      }

      .file-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0 15px;
        input {
          color: #40484a;
          padding-left: 1em;
          font-size: 14px;
          font-size: 14px;
          color: #888;
          background: #f9fafa;
          border: 2px solid #d4d9dd;
          border-radius: 4px;
          padding: .75em 1em;
        }
      }

      .non-title-field {
        max-width: 33.3333333%;
        width: 100%;
        @media only screen and (max-width: $--breakpoint-md) {
          max-width: 100%;
        }
      }

      .form-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0 15px;

        @media only screen and (max-width: $--breakpoint-md) {
          max-width: 100%;
          padding-right: 0;
          padding-left: 0;
        }

        input {
          color: #40484a;
          padding-left: 1em;
          font-size: 14px;
          font-size: 14px;
          color: #888;
          height: 44px;
          background: #f9fafa;
          border: 2px solid #d4d9dd;
          border-radius: 4px;
          height: 39.99px;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: .75em 1em;
          height: 44px;
          background: #f9fafa;

          font-size: 14px;
          color: #888;
          border: 2px solid #d4d9dd;
          border-radius: 4px;
          height: 44px;
          &:hover {
            cursor: pointer;
            border-color: #8c9aa6;
          }

          option {
            color: #40484a;
            font-size: 14px;
            margin-bottom: 7px;
          }
        }
      }

    }
  }

  button {
    background-color: #fb236a;
    border-color: #fb236a;
    padding: 0 18px;
    margin: 15px;;
    border-radius: 4px;
    max-width: 78px;
    &:hover {
      cursor: pointer;
    }
    p {
      padding: 7px 10px;
      color: white;
    }
  }

  .quill-container {
    padding: 0 15px;

    label {
      color: #40484a;
      font-size: 14px;
      margin-bottom: 7px;
    }

    .ql-toolbar.ql-snow {
      margin-top: 7px;
      border: 2px solid #d4d9dd;
      box-sizing: border-box;
      background: #f9fafa;
      background: #f9fafa;
      // font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      border-bottom: none;
      padding: 8px;
    }

    .ql-container.ql-snow {
      border: 2px solid #d4d9dd;

      &:hover {
        border-color: #8c9aa6;
      }
    }

    #editor {
      height: 180px;
      overflow: auto;
    }
  }
}
