@import "variables.scss";

.post-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 170px;

  .full-post-container {
    display: block;
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media only screen and (max-width: $--breakpoint-xxl) {
      max-width: 890px;
    }

    .full-post {
      display: flex;
      flex-direction: row;

      .main-post-content {
        max-width: 66.6666666667%;
        width: 100%;

        @media only screen and (max-width: $--breakpoint-lg) {
          max-width: 100%;
        }

        .related-posts {
          padding: 30px;
          h3 {
            margin: 13.4px 0;
            color: #384047;
            font-size: 18px;
            font-family: 'Varela Round', sans-serif;
          }
        }

        .post-description-container {
          padding: 30px;
          border-bottom: 1px solid #e8ecec;

          .post-description-title {
            margin: .67em 0;
            font-size: 20px;
            color: #384047;
          }

          #post-description {
            h1 {
              font-size: 20px;
              color: #384047;
              font-weight: 1000;
              text-rendering: optimizeLegibility;
              text-transform: b;
              font-weight: bolder;
              font-family: 'Varela Round', sans-serif;
            }

            h2 {
              font-size: 19px;
              color: #384047;
              font-weight: 1000;
              text-rendering: optimizeLegibility;
              text-transform: b;
              font-weight: bolder;
              font-family: 'Varela Round', sans-serif;
            }

            h3 {
              font-size: 18px;
              color: #384047;
              font-weight: 1000;
              text-rendering: optimizeLegibility;
              text-transform: b;
              font-weight: bolder;
              font-family: 'Varela Round', sans-serif;
            }

            h4 {
              font-size: 17px;
              color: #384047;
              font-weight: 1000;
              text-rendering: optimizeLegibility;
              text-transform: b;
              font-weight: bolder;
              font-family: 'Varela Round', sans-serif;
            }

            h5 {
              font-size: 16px;
              color: #384047;
              font-weight: 1000;
              text-rendering: optimizeLegibility;
              text-transform: b;
              font-weight: bolder;
              font-family: 'Varela Round', sans-serif;
            }

            p {
              color: #576366;
              font-family: 'Varela Round', sans-serif;
              line-height: 1.75;
            }

            span {
              color: #576366;
              font-family: 'Varela Round', sans-serif;
              line-height: 1.75;
              font-weight: 900;
            }

            ul {
              padding-left: 40px;
              line-height: 1.75;

              li {
                color: #576366;
                font-family: 'Varela Round', sans-serif;
              }
            }
          }
        }

        .post-header {
          margin-bottom: 20px;
          padding-bottom: 30px;
          border-bottom: 1px solid #e8ecec;
          display: flex;
          flex-direction: row;

          img {
            margin-right: 25px;
          }

          .post-header-title {
            color: #384047;
            font-size: 16px;
            margin-bottom: 15px;
            font-family: 'Varela Round', sans-serif;
          }
          .header-line {
            display: flex;
            flex-direction: row;
            margin-bottom: 12px;

            p {
              color: #576366;
              font-size: 14px;
              margin-right: 20px;
              font-family: 'Varela Round', sans-serif;

              i {
                color: #8b91dd;
              }
            }
            a {
              color: #576366;
              font-size: 14px;
              margin-right: 20px;

              i {
                font-size: 17px;
                color: #8b91dd;
              }

              &:hover {
                cursor: pointer;
                color: #8b91dd;
              }
            }
          }
        }
      }

      .side-bar-container {
        padding: 0 15px;
        max-width: 33.3333333%;
        width: 100%;

        @media only screen and (max-width: $--breakpoint-lg) {
          display: none;
        }

        .post-button {
          margin-bottom: 45px;

          p {
            color: #fff;
            background-color: #fb236a;
            padding: 8px 16px;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: 0.3rem;
            display: block;
            text-align: center;
            font-family: "Quicksand", sans-serif;
            font-size: 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .info-bar {
          margin-top: 30px;

          .info-bar-title {
            margin-bottom: 20px;
            font-size: 16px;
            font-family: 'Varela Round', sans-serif;

          }
          ul {
            padding: 35px;
            border: 2px solid #edeff7;
            border-radius: 5px;


            li {
              display: flex;
              flex-direction: row;
              margin: 0 30px 30px 15px;
              list-style: none;

              i {
                margin-right: 15px;
                font-size: 19px;
                color: #8b91dd;
                margin-top: 1px;
              }

              .info-type {
                text-transform: capitalize;
                margin-bottom: .67rem;
                color: #384047;
                font-family: 'Varela Round', sans-serif;
              }
              .info-value {
                color: #888;
                font-size: 14px;
              }
            }
          }
        }
      }

    }
  }

}
