.job-post-form {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  form {
    display: flex;
    flex-direction: column;

    span {
      label {
        color: #40484a;
        font-size: 14px;
        margin-bottom: 7px;
      }
    }

    .field-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      // justify-content: space-evenly;

      .title-field {
        width: 100%;
      }

      .non-title-field {
        max-width: 33.3333333%;
        width: 100%;
      }

      .form-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0 15px;

        input {
          color: #40484a;
          padding-left: 1em;
          font-size: 14px;
          font-size: 14px;
          color: #888;
          height: 44px;
          background: #f9fafa;
          border: 2px solid #d4d9dd;
          border-radius: 4px;
          height: 39.99px;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: .75em 1em;
          height: 44px;
          background: #f9fafa;

          font-size: 14px;
          color: #888;
          border: 2px solid #d4d9dd;
          border-radius: 4px;
          height: 44px;
          &:hover {
            cursor: pointer;
            border-color: #8c9aa6;
          }

          option {
            color: #40484a;
            font-size: 14px;
            margin-bottom: 7px;
          }
        }
      }

    }
  }
}
