.content-container {
  max-width: 1170px;
  margin: auto;

  .content-flex {
    display: flex;
    flex-direction: row;

    .side-bar {
      width: 33.333333%;
      padding: 32px 45px 60px 15px;

      .filter {
        margin-bottom: 1rem;

        span {
          font-size: 14px;
          color: #202020;
          font-weight: 500;
          text-transform: capitalize;
          margin-bottom: 16px;
        }
        li {
          list-style: none;
          margin: 10px;
          &:hover {
            cursor: pointer;
            p {
              color: #2c7dfa;
            }
          }

          p {
            font-size: 13px;
            color: #888;
            font-family: 'Varela Round', sans-serif;
          }
        }
      }

      .side-bar-search-box {
        width: 100%;
        display: flex;
        flex-direction: column;

        .side-bar-search-submit {
          display: none;
        }

        input {
          width: 80%;
          font-size: 14px;
          color: #40484a;
        }
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border: 2px solid #d4d9dd;
          border-radius: 5px;
          text-align: left;
          padding: 14px;
          margin-bottom: 30px;
          &:hover {
            border: 2px solid #8c9aa6;
          }

          i {
            color: #fb236a;
          }
        }
      }
    }

    .main-content {
      width: 66.6666%;
      padding: 30px 15px 30px 0;
      border-left: 1px solid #edeff7;

      .sort-and-limit-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 32px 32px;
        .showing-text {
          font-size: 16px;
        }
        .sort-and-limit-forms {
          display: flex;
          flex-direction: row;

          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            margin: 10px;
            min-width: 160px;
            width: auto;
            font-size: 13px;
            color: #888;
            border-width: 0;
            height: 35px;
            background-color: #f4f5fa;
            padding: 0 15px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .search-results {
        // width: 66.6666%;
        // padding: 30px 15px 30px 0;
        // border-left: 1px solid #edeff7;

        .search-result {
          border-top: 1px solid #edeff7;
          border-bottom: 1px solid #edeff7;
          padding: 30px 15px;
          display: flex;
          flex-direction: row;
          width: 100%;
          &:hover {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            cursor: pointer;
          }

          img {
            height: auto;
            width: auto;
            max-width: 100px;
            max-height: 100px;
            border-radius: 8px;
          }

          .search-result-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 5px 30px;

            .search-result-city {
              color: #717F86;
              font-size: 13px;

              i {
                color: #717F86;
                font-size: 13px;
                margin-right: 5px;
              }
            }

            p {
              padding: 5px;
            }

            .search-result-title {
              font-weight: bolder;
            }
          }
        }
        #job-post-result {
          .search-result-tile {
            font-size: 16px;
            color: #384047;
          }
          .search-result-subtitle {
            text-transform: uppercase;
            color: #fb236a
          }
          .search-result-button {
            color: #0F834D;
            font-size: 13px;
            padding: 6px 12px;
            border: 2px solid #0F834D;
            border-radius: 4px;

            &:hover {
              color: white;
              background-color: #0F834D;
            }
          }
        }
      }
    }
  }
}
