@import "variables.scss";

.content-container {
  padding-bottom: 170px;
  max-width: 1170px;
  margin: auto;

  .content-flex {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $--breakpoint-xl) {
      flex-direction: column;
    }

    .side-bar {
      width: 33.333333%;
      padding: 32px 0px 60px 15px;

      @media only screen and (max-width: $--breakpoint-xl) {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .filter {
        margin-bottom: 1rem;

        @media only screen and (max-width: $--breakpoint-xl) {
          width: 100%;
          max-width: 550px;
        }

        span {
          margin-bottom: 16px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 90%;

          &:hover {
            cursor: pointer;
          }

          p {
            font-size: 14px;
            color: #202020;
            font-weight: 500;
            text-transform: capitalize;
          }
        }

        .specified {
          .fa-minus {

          }
        }

        p {
          font-size: 13px;
          font-family: 'Varela Round', sans-serif;
        }

        .selected-filter-option {
          margin: 10px;
          border-radius: 4px;
          color: #2c7dfa;
          &:hover {
            color: #fb236a;
            cursor: pointer;
          }
        }

        li {
          list-style: none;
          margin: 10px;
          line-height: 30px;
          &:hover {
            cursor: pointer;
            p {
              color: #2c7dfa;
            }
          }

          p {
            color: #888;
          }
        }
      }

      .side-bar-search-box {
        width: 89%;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $--breakpoint-xl) {
          width: 100%;
          display: flex;
          flex-direction: column;
          max-width: 550px;
        }

        @media only screen and (max-width: $--breakpoint-sm) {
          max-width: 490px;
        }


        .side-bar-search-submit {
          display: none;
          button {
            &:hover {
              cursor: pointer;
            }
          }
        }

        input {
          width: 80%;
          font-size: 14px;
          color: #40484a;
        }
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border: 2px solid #d4d9dd;
          border-radius: 5px;
          text-align: left;
          padding: 14px;
          margin-bottom: 30px;

          @media only screen and (max-width: $--breakpoint-xl) {
          //   width: 100%;
          //   max-width: 550px;

          }

          &:hover {
            border: 2px solid #8c9aa6;
          }

          i {
            color: #fb236a;
          }
        }
      }
    }

    .main-content {
      width: 66.6666%;
      padding: 30px 15px 30px 0;
      border-left: 1px solid #edeff7;

      @media only screen and (max-width: $--breakpoint-xl) {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }

      .pagination-buttons {

        display: flex;
        flex-direction: row;
        justify-content: center;
        .page-scroll {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0 14px;
          .last-page-dot-dot-dot {
            color: #a6b4bd;
          }
        }
        .page-button {
          list-style: none;
          padding: 0.5rem 0.75rem;
          margin: 0 14px;
          color: #576366;
          border: 2px solid #d3d9dd;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
            border-color: #b9c1c8;
          }
        }

        .current-page-button {
          border-color: #f2f4f5;
        }

      }

      .sort-and-limit-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 32px 32px;

        @media only screen and (max-width: $--breakpoint-xl) {
          flex-direction: column;
        }

        .showing-text {
          font-size: 16px;
          font-family: 'Varela Round', sans-serif;
        }
        .sort-and-limit-forms {
          display: flex;
          flex-direction: row;

          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            margin: 10px;
            min-width: 160px;
            width: auto;
            font-size: 13px;
            color: #888;
            border-width: 0;
            height: 35px;
            background-color: #f4f5fa;
            padding: 0 15px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.search-results {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 50px;

  @media only screen and (max-width: $--breakpoint-xl) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-result {
    border-top: 1px solid #edeff7;
    border-bottom: 1px solid #edeff7;
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    @media only screen and (max-width: $--breakpoint-xl) {
      width: 100%;
      max-width: 700px;
    }
    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    img {
      height: auto;
      width: auto;
      max-width: 100px;
      max-height: 100px;
      border-radius: 8px;
    }

    .search-result-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 5px 30px;

      .search-result-city {
        color: #717F86;
        font-size: 13px;
        font-family: 'Varela Round', sans-serif;

        i {
          color: #717F86;
          font-size: 13px;
          margin-right: 5px;
        }
      }

      p {
        padding: 5px;
        font-family: 'Varela Round', sans-serif;
      }

      .search-result-title {
        font-weight: bolder;
        font-family: 'Varela Round', sans-serif;
      }
    }
  }

  #company-result {
    .search-result-tile {
      font-size: 16px;
      color: #384047;
    }

    .search-result-subtitle {
      color: #fb236a;
    }

    .search-result-button {
      color: #8b91dd;
      font-size: 13px;
      padding: 6px 12px;
      font-family: 'Quicksand', sans-serif;
    }
  }

  #job-post-result {

    .search-result-tile {
      font-size: 16px;
      color: #384047;
    }
    .search-result-subtitle {
      text-transform: uppercase;
      color: #fb236a;
    }
    .search-result-details-right {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-end;

      .search-result-button {
        color: #0F834D;
        font-size: 13px;
        padding: 6px 12px;
        border: 2px solid #0F834D;
        border-radius: 4px;
        font-family: 'Quicksand', sans-serif;

        &:hover {
          color: white;
          background-color: #0F834D;
        }
      }
    }

  }
}
