@import "variables.scss";

.small-screen-nav {
  display: none;



  @media only screen and (max-width: $--breakpoint-xl) {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    position: relative;
    top: 200%;
  }

  #gray-menu {
    div {
      background-color: #7b8b8e;
      &:hover {
        cursor: pointer;
      }
    }
  }
  #white-menu {
    div {
      background-color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .menu {
    li {
      &:hover {
        cursor: pointer;
      }
    }
    div {
      width: 35px;
      height: 5px;
      margin: 6px 0;
      background-color: white;

    }
  }

  .menu-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: relative;
    border-radius: 8px;
    border: 1px solid #7b8b8e;

    padding: 15px 20px;
    &:before {
      content: '';
      position: relative;
      top: -20px;
      left: -20px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      margin: auto;
      border-bottom: 5px solid #7b8b8e;
    }


    li {
      list-style: none;

      p {
        #gray-fa-image {
          padding-right: 5px;
        }
        &:hover {
          cursor: pointer;
          color: #8b91dd;

          #gray-arrow {
            border-color: #8b91dd;
          }
          #gray-fa-image {
            color: #8b91dd;
          }
        }
      }
    }

    div {
      p {
        color: #7b8b8e;
        &:hover {
          cursor: pointer;
          color: #8b91dd;
        }
      }

    }
  }
}





// .arrow-up {
//     width: 0;
//     height: 0;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
//     margin: auto;
//     border-bottom: 5px solid white;
// }
